p {
    margin-left: 4.0rem;
}

.helloWorld {
    display: flex;
    width: 35.3646vw;
    height: 10vw;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 1.9271vw;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 2.5000vw */
    z-index: 5vw;
}

.bookStorage1,
.bookStorage2 {
    width: 56vw;
    height: 12.0833vw;
    flex-shrink: 0;
    border-radius: var(--Corner-Full, 52.0833vw);
    background: #EBEBEB;
    left: 3.0417vw;
}

.bookStorage1 {
    position: absolute;
    top: 14.6875vw;
    z-index: 10vw;
    
}

.bookStorage2 {
    position: absolute;
    top: 31.0938vw;
    z-index: 10vw;
}

.booklist {
    list-style: none;
    padding: 0;
    display: inline-block; /* 추가 */
    vertical-align: top; /* 추가 */
}

.booksImg, .yet {
    width: 9.3229vw;
    height: 12.1354vw;
    flex-shrink: 0;
    margin-left: 3.3979vw;
    margin-top: -3.2292vw; /* margin-block을 margin-top으로 변경 */
    vertical-align: top; /* 추가 */
}

.booksImg {
    box-shadow: 0.3125vw 0.3125vw 1.3021vw 0.1042vw rgba(0, 0, 0, 0.25);
    object-fit: none;
}

.yet {
    background: #C8C8C8;
    box-shadow: 0.3125vw 0.3125vw 0.7813vw 0.0000vw rgba(0, 0, 0, 0.25);
    display: inline-block; /* 추가 */
}