/* 메뉴 박스 스타일 */

.pageName {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 20.614px */
    position: absolute;
    top: 3.2639vh;
    right: 12.7083vw;
}

.logOut {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 20.614px */
    position: absolute;
    top: 3.2639vh;
    right: 4.1667vw;

}

.helloWorld {
    display: flex;
    width: 35.3645vw;
    height: 14.074vh;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 48px */
}

